table {
  border-collapse: collapse;
}

table.center {
  margin-left:auto;
  margin-right:auto;
}

table {
  border: 0px solid #a1a1a1;
}

td,th{
  border: 0px solid #a1a1a1;
  text-align: center;
}

p {
  font-size: 24px;
  text-align: center;
}
p.options {
  font-size: 36px;
  text-align: center;
}
p.question {
  font-size: 42px;
  text-align: center;
  color: blue;
}
p.result {
  font-size: 36px;
  text-align: center;
}
p.score {
  font-size: 18px;
  text-align: center;
}
p.menu {
  font-size: 24px;
  text-align: center;
}
p.mymeter {
  font-size: 8px;
}
p.meterscore {
  font-size: 14px;
  text-align: center;
}

div {
  border: 2px solid #a1a1a1;
  padding: 10px 30px;
  background: #dddddd;
  width: 100px;
  border-radius: 25px;
}
div.menu {
  border: 2px solid #a1a1a1;
  padding: 10px 30px;
  background: #dddddd;
  width: 150px;
  border-radius: 25px;
}
div.style4 {
  color: #003F80;
  font-weight: normal;
  font-size: 12px;
  font-family: Georgia;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.blue {
  color:blue;
}

.red {
  color:red;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

meter {
  width: 100px;
  height: 15px;
}

